.note {
  font-size: 30px;
  text-align: center;
}

.textarea {
  display: block;
  width: 1440px;
  height: 400px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 30px;

}

.keyboard {
  margin: 30px auto;
  width: 1440px;
  padding: 20px 0;
  box-sizing: border-box;
  background: #000000;
}


.keyboard__keys > div {
text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;justify-content: space-between;
  flex-wrap: wrap;
}


.keyboard__key {
  height: 45px;
  width: 85px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.general__key {
  background: rgb(63, 63, 137);
}

.keyboard__key:hover {
  opacity: 0.7;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.wide2x {
  width: 170px;
}

.space {
  flex-grow: 1;
}

.--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key.--active::after {
  background: #08ff00;
}

